.Aduilt-nav-main {
  display: flex;
  flex-direction: row;
}

.Aduiltprofile-main {
  background-color: #7c55b2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Aduiltprofile-main h1 {
  color: white;
  font-family: Ibarra Real Nova;
  font-weight: 200;
}

.Aduiltprofile-main p {
  color: white;
  font-family: Ibarra Real Nova;
  font-weight: 200;
  font-size: 1.5rem;
}

.A-profile-align {
  width: 90%;
}

.profile-head-elements {
  background-color: #b080f2;
  color: white;
  font-family: Ibarra Real Nova;
  font-size: 2rem;
  font-weight: 200;
}

.profile-head-elements h2 {
  padding-left: 30px;
}

.A-profile-card {
  display: flex;
  flex-direction: column;
  background-color: #b080f2;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: solid black 1px;
}

.A-inner-profile-card {
  width: 90%;
}

.profilepic-and-names {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/////////////////////////  profile pic upload //////////////

.Aprofilepic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Aprofilepic {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Ibarra Real Nova;
  font-size: 0.2rem;
}

.Aprofilepic img {
  width: 151px;
  height: 145px;
}

// //////////////////////////

.A-names {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.A-names-seperates {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profile-names {
  background-color: #7c55b2;
  margin: 10px;
  width: 100%;
  color: white;
  font-size: 2rem;
  border: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.A-aboutme {
  width: 100%;
  background-color: #7c55b2;
  min-height: 143px;
  color: white;
  font-size: 1.5rem;
  border: black 1px solid;
}

.A-aboutme p {
  padding: 5%;
}

.aduilt-pro-bottom-cont {
  display: flex;
  flex-direction: row;
}

.aduilt-edit-btn-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.A-passed-course {
  width: 50%;
}

.A-passed-course ul {
  list-style-type: none;
  color: white;
  font-family: Josefin Sans;
  font-size: 1.5rem;
}

.A-passed-course li {
  text-decoration: underline;
}

#no-underline {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
  .profilepic-and-names {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .A-names {
    width: 100%;
  }

  .aduilt-pro-bottom-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.aduilt-avail h2 {
  color: white;
  font-family: Josefin Sans;
  text-align: center;
}

.day-time-seperator {
  padding: 10px;
}

.aduilt-avail label {
  color: white;
  font-family: Josefin Sans;
  padding-right: 10px;
}


.aduilt-avail input{
  background-color: #7c55b2;
  color: white;
}

.aduilt-avail input:hover{
  border: orangered solid 2px;
  color:orangered  ;
}


.aduilt-avail button{
  background-color: #7c55b2;
  width: 50%;
 margin: 30px;
 border-radius: 12px;
 height: 40px;
 border: black solid 2px;
 font-family: Josefin Sans;
 font-size: 1rem;
}

.aduilt-avail button:hover{
  border: orangered solid 2px;
  color:orangered  ;
}


@media screen and (max-width: 650px) {
  .Aduilt-nav-main {
 
    flex-direction: column;
  }
}