.Aduiltandchild-main{

    
}

.gallery-upload{
    
}

.main-photo-container{
width: 100%;
background-color: #B080F2;
height: auto;
text-align: center;
border: black solid 1px;
}

.main-photo-heading{
text-decoration: underline;
font-family: Ibarra Real Nova;
color: #6B6B6B;
    -webkit-text-stroke: 1px black; /* width and color */
}

.arrows-and-photo{

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}



.main-photo{
    width: 60%;
    position: relative;
  

}

.main-photo img{
width: 100%;
height: 100%;
margin-bottom:2rem ;
}

.main-photo p{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    text-decoration: underline;
   font-family: Ibarra Real Nova;
   -webkit-text-stroke: 0.5px black; /* width and color */
   font-size: 30px;
}

.arrow-1 {
    width: 10%;
}

.arrow-2 {
    width: 10%;
}


.gal-second-heading{
    text-align: center;
    text-decoration: underline;
font-family: Ibarra Real Nova;
color: #6B6B6B;
font-size: 25px;
    -webkit-text-stroke: 1px black; /* width and color */
}

.gal-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gal--item-container{
    padding: 5px;
}

.gal-text{
  margin-top: -10px;
  padding-left: 15px;
  font-family: Ibarra Real Nova;
  font-size: 1.5rem;

}

.gal-tex-2{
    margin-top: -10px;
    padding-left: 15px;
    font-family: Ibarra Real Nova;
}

