.Badges-main {
  display: flex;
  flex-direction: column;
}

.badges-heading {
  text-align: center;
  color: #9b6bdf;
  -webkit-text-stroke: 1px black; /* width and color */
}

#badgep {
  color: #9b6bdf;
  -webkit-text-stroke: 0.4px black; /* width and color */
  font-size: large;
  text-align: center;
}

.first-badges {
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
}

.badge1 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge1 img {
  padding-top: 10px;
}

.badge2 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge2 img {
  padding-top: 10px;
}

.badge3 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge3 img {
  padding-top: 10px;
}

.second-badges {
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
}

.badge4 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge4 img {
  padding-top: 10px;
}

.badge5 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge5 img {
  padding-top: 10px;
}

.badge6 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge6 img {
  padding-top: 10px;
}
.third-badges {
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
}

.badge7 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge7 img {
  padding-top: 10px;
}

.badge8 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge8 img {
  padding-top: 10px;
}

.badge9 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}
.badge9 img {
  padding-top: 10px;
}
.fourth-badges {
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
}

.badge10 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge10 img {
  padding-top: 10px;
}

.badge11 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}
.badge11 img {
  padding-top: 10px;
}

.badge12 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}
.badge12 img {
  padding-top: 10px;
}
.fith-badges {
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
}

.badge13 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge13 img {
  padding-top: 10px;
}

.badge14 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge14 img {
  padding-top: 10px;
}

.badge15 {
  border-radius: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
}

.badge15 img {
  padding-top: 10px;
}

@media only screen and (max-width: 633px) {
  .first-badges {
    width: 100vw;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .second-badges {
    width: 100vw;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .third-badges {
    width: 100vw;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .fourth-badges {
    width: 100vw;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .fith-badges {
    width: 100vw;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .badge1 {
    width: 60%;
  }

  .badge2 {
    width: 60%;
  }

  .badge3 {
    width: 60%;
  }

  .badge4 {
    width: 60%;
  }

  .badge5 {
    width: 60%;
  }

  .badge6 {
    width: 60%;
  }

  .badge7 {
    width: 60%;
  }

  .badge8 {
    width: 60%;
  }

  .badge9 {
    width: 60%;
  }

  .badge10 {
    width: 60%;
  }

  .badge11 {
    width: 60%;
  }

  .badge12 {
    width: 60%;
  }

  .badge13 {
    width: 60%;
  }

  .badge14 {
    width: 60%;
  }

  .badge15 {
    width: 60%;
  }
}
