.Games-main{
    
}

.games-heading{
    text-align: center;
    color: #9b6bdf;
    -webkit-text-stroke: 1px black; /* width and color */

}

.games-heading-border{
    height: 2rem;
    width: 100%;
    background-color: #9b6bdf;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.games-main-body{
    display: flex;
    flex-direction: column;
 margin-top: 2rem;
 margin-bottom: 2rem;
    width: 100%;
    height: 100vh;
    background-image: url(../images/Games/gamesbackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: -1px;
 
     
}

.games-first-line{
    display: flex;
    flex: row;
    justify-content: space-evenly;
   padding-top: 2rem;
}


.first-game-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 15%;
    overflow: hidden;
    box-shadow: 5px 10px #888888;
    background-color: white;
}

.second-game-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 15%;
    overflow: hidden;
    box-shadow: 5px 10px #888888;
    background-color: white;
}



.games-second-line{
    width: 50%;
    padding-top: 5rem;
align-self: center;
}



.third-game-container{
    text-align: center;
    border: 2px solid black;
    border-radius: 15%;
    overflow: hidden;
    box-shadow: 5px 10px #888888;
    background-color: white;
    
}
