.Homeevents{
   
   
}

.home-events-control{
padding-top: 1rem;
display: flex;
flex-direction: row;
height: 2rem;
}

.arrow-container-1{
   
    height: 2rem;
    width: 2rem;
}

.arrow-container-1-image{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/homeevents/arrow1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.arrow-container-2{

    height: 2rem;
    width: 2rem;
}

.arrow-container-2-image{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/homeevents/arrow2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.date{
    height: 80%;
    line-height: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
} 

.date2{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
}

.Homeevents-main-content{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    height: 10rem;
    padding-bottom: 2rem;
}

.event-date{
   
    width: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.event-details{
    width: 55%;
    
    justify-content: center;
    align-items: center;
    display: flex;
}

.event-img-container{
    width: 35%;
    
}

.event-img{
    display: block;
    width: 50%;
    height: 100%;
    background-image: url(../images/homeevents/event\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.events-border-line{
    border: 2px solid black;
    width: 90%;
    margin-top: 2rem;
    margin-left: 5%;
}


.event-img2{
    display: block;
    width: 50%;
    height: 100%;
    background-image: url(../images/homeevents/event2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.event-img3{
    display: block;
    width: 50%;
    height: 100%;
    background-image: url(../images/homeevents/event3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.event-img4{
    display: block;
    width: 50%;
    height: 100%;
    background-image: url(../images/homeevents/event4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

