.Header {
  display: flex;
  flex-direction: column;
}

.header-first-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #b080f2;
}

.header-first-line button {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}

.header-first-line button:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
  color: orangered;
}

.headerlogo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 25%;
}

.header-img img {
  width: 56px;
  height: 50px;
  padding-left: 10px;
  padding-top: 5px;
}

.header-logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Ibarra Real Nova;
  font-weight: 200;
}

.first-header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.first-header-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 2px;
}

.first-header-links li {
  padding-left: 20px;
  text-decoration: underline;
}

.reg-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-second-line {
  width: 100%;
  height: 10rem;
  background-color: aqua;
}

.header-main-img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/headerpic.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-links-layout {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1070px) {
  .header-links-layout {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 811px) {
  .headerlogo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 688px) {
  .header-first-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #b080f2;
  }
}
@media screen and (max-width: 496px) {
  .first-header-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 2px;
  }
  .first-header-links li {
    padding: 10px;
  }
}
.Home {
  height: auto;
  width: auto;
}

.home-main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-head {
  background-color: #CFB6F2;
  padding-top: 1rem;
  text-align: center;
}

.first-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}

.image-container-1 {
  width: 80%;
  height: 80%;
  transform: translateY(20%);
  background-image: url(../images/homepage/home1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.container-1-text {
  position: absolute;
  top: -10%;
  left: -15%;
  width: 40%;
  border: 3px solid #73AD21;
  z-index: 1;
  background: rgba(171, 224, 245, 0.548);
  border-radius: 5%;
  box-shadow: 2.5px 5px rgba(3, 3, 3, 0.2196078431);
  text-align: center;
  border: 1px solid #4D0BAA;
}

.second-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}

.image-container-2 {
  width: 80%;
  height: 80%;
  margin-left: 2rem;
  margin-top: 1rem;
  transform: translateY(5%);
  background-image: url(../images/homepage/home2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.container-2-text {
  position: absolute;
  top: 80%;
  left: 75%;
  width: 40%;
  border: 3px solid #73AD21;
  z-index: 1;
  background: rgba(171, 224, 245, 0.548);
  border-radius: 5%;
  box-shadow: 2.5px 5px rgba(3, 3, 3, 0.2196078431);
  text-align: center;
  border: 1px solid #4D0BAA;
}

.home-para {
  margin-top: 5%;
  text-align: center;
  max-width: 50%;
  color: #4D0BAA;
}

.home-para-2 {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #4D0BAA;
  text-align: center;
  border: 2px solid #4D0BAA;
  border-radius: 20%;
  max-width: 50%;
}

.Footer {
  background: #B080F2;
}

.footer-logo {
  padding-top: 2rem;
  height: 2rem;
  width: 2rem;
  margin: auto;
}

.footer-img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/fleur-logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-events-control {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  height: 2rem;
}

.arrow-container-1 {
  height: 2rem;
  width: 2rem;
}

.arrow-container-1-image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/homeevents/arrow1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.arrow-container-2 {
  height: 2rem;
  width: 2rem;
}

.arrow-container-2-image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/homeevents/arrow2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.date {
  height: 80%;
  line-height: 10%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.date2 {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}

.Homeevents-main-content {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  height: 10rem;
  padding-bottom: 2rem;
}

.event-date {
  width: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.event-details {
  width: 55%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.event-img-container {
  width: 35%;
}

.event-img {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event\ 1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.events-border-line {
  border: 2px solid black;
  width: 90%;
  margin-top: 2rem;
  margin-left: 5%;
}

.event-img2 {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.event-img3 {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.event-img4 {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Badges-main {
  display: flex;
  flex-direction: column;
}

.badge-main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badges-heading {
  text-align: center;
  color: #9b6bdf;
  -webkit-text-stroke: 1px black; /* width and color */
}

#badgep {
  color: #9b6bdf;
  -webkit-text-stroke: 0.4px black; /* width and color */
  font-size: large;
  text-align: center;
}

.badge1 {
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #9b6bdf 2px solid;
  cursor: pointer;
}

.Login-main {
  width: 100%;
  height: 100vh;
  background-image: url(../images/login/loginbackground.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: -1px;
}

.Login-head {
  padding-left: 2rem;
  padding-top: 0.5rem;
  width: 60vw;
}

.form-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.reg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg_heading {
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reg_text {
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reg_text input {
  font-family: Josefin Sans;
  border-radius: 9px;
}

.reg_btn {
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.reg_btn button {
  font-family: Josefin Sans;
  border-radius: 9px;
}

.Login_heading {
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login_text {
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login_text input {
  font-family: Josefin Sans;
  border-radius: 9px;
}

.Login_btn {
  font-family: Josefin Sans;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.reg_btn button button {
  font-family: Josefin Sans;
  border-radius: 9px;
}

.games-heading {
  text-align: center;
  color: #9b6bdf;
  -webkit-text-stroke: 1px black; /* width and color */
}

.games-heading-border {
  height: 2rem;
  width: 100%;
  background-color: #9b6bdf;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.games-main-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 100vh;
  background-image: url(../images/Games/gamesbackground.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: -1px;
}

.games-first-line {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.first-game-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  border-radius: 15%;
  overflow: hidden;
  box-shadow: 5px 10px #888888;
  background-color: white;
}

.second-game-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  border-radius: 15%;
  overflow: hidden;
  box-shadow: 5px 10px #888888;
  background-color: white;
}

.games-second-line {
  width: 50%;
  padding-top: 5rem;
  align-self: center;
}

.third-game-container {
  text-align: center;
  border: 2px solid black;
  border-radius: 15%;
  overflow: hidden;
  box-shadow: 5px 10px #888888;
  background-color: white;
}

.childrens-profile {
  background-color: #b080f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 80%;
  background-color: #f0af49;
  flex-direction: column;
  border: black 2px solid;
  border-radius: 10%;
  margin: 5rem;
}

.cprofile-first-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
}

.cfirst-details {
  font-size: 20px;
  font-family: Josefin Sans;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.cprofile-merits {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 5rem;
  padding-left: 2rem;
  font-weight: 500;
}

.cprofile_button_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.cprofile-button button {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}

.cprofile-button button:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
  color: orangered;
}

@media screen and (max-width: 450px) {
  .cprofile_button_layout {
    flex-direction: column;
  }
  .cprofile-button button {
    margin: 5px;
  }
}
.badge2 {
  background-color: white;
  border-radius: 14%;
  border: solid 1px #7c55b2;
}

.cprofile-badges-container {
  display: flex;
  justify-content: center;
}

.Aduiltandchild-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Aduiltandchild-main h1 {
  text-align: center;
  text-decoration: underline;
  font-family: Ibarra Real Nova;
  color: #6B6B6B;
  font-size: 50px;
  -webkit-text-stroke: 1px black;
}

.gallery-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.gallery-upload input {
  margin: 5%;
  background-color: #B080F2;
}

.gallery-upload Button {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
}

.gallery-upload Button:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color: #bc80ea;
}

.gallery-upload Button:active .myButton {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
}
.gallery-upload Button:active .myButton:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color: #bc80ea;
}
.gallery-upload Button:active .myButton:active {
  position: relative;
  top: 1px;
}

.main-photo-container {
  width: 50%;
  background-color: #B080F2;
  height: auto;
  text-align: center;
  border: black solid 1px;
  margin-top: 5%;
  border-radius: 12%;
}

.main-photo-heading {
  text-decoration: underline;
  font-family: Ibarra Real Nova;
  color: #6B6B6B;
  -webkit-text-stroke: 1px black; /* width and color */
}

.arrows-and-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-photo {
  width: 60%;
  position: relative;
}

.main-photo img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.main-photo p {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  text-decoration: underline;
  font-family: Ibarra Real Nova;
  -webkit-text-stroke: 0.5px black; /* width and color */
  font-size: 30px;
}

.gal-second-heading {
  text-align: center;
  text-decoration: underline;
  font-family: Ibarra Real Nova;
  color: #6B6B6B;
  font-size: 25px;
  -webkit-text-stroke: 1px black; /* width and color */
}

.gal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1220px;
}

.gal div {
  padding: 5px;
  cursor: pointer;
}

.gal img {
  height: 190px;
  width: 253px;
  border-radius: 16%;
  border: #B080F2 2px solid;
  box-shadow: 0px 3px 5px black;
}

.row-separator {
  max-width: 100%;
}

@media screen and (max-width: 573px) {
  .main-photo-container {
    display: none;
  }
}
.Aduiltlanding-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Aduiltnav-main {
  display: flex;
  flex-direction: column;
  background-color: #B080F2;
  align-items: center;
  height: 100%;
}

.profile-pic {
  margin: 5px;
  width: 152px;
  height: 160px;
  border-radius: 50%;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-pic img {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid red;
}

.name-logout ul {
  list-style-type: none;
  color: white;
  font-family: Josefin Sans;
  font-size: 1.5rem;
}

.name-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.logout_btn button {
  padding: 2px;
  background-color: #B080F2;
}

.logout_btn button:hover {
  font-size: 2rem;
}

.nav-border {
  width: 80%;
  border: black solid 1px;
}

.Aduilt-nav-links {
  display: flex;
  text-align: center;
}

.Aduilt-nav-links ul {
  list-style-type: none;
  color: white;
  font-family: Josefin Sans;
  font-size: 1rem;
}

.Aduilt-nav-links li {
  padding-bottom: 20px;
  text-decoration: underline;
}

.Aduilt-nav-links li:hover {
  font-size: 1.5rem;
}

#Alogout {
  font-size: 1rem;
  text-decoration: underline;
}

#Alogout:hover {
  font-size: 2rem;
}

.Aduilt-nav-main {
  display: flex;
  flex-direction: row;
}

.Aduiltprofile-main {
  background-color: #7c55b2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Aduiltprofile-main h1 {
  color: white;
  font-family: Ibarra Real Nova;
  font-weight: 200;
}

.Aduiltprofile-main p {
  color: white;
  font-family: Ibarra Real Nova;
  font-weight: 200;
  font-size: 1.5rem;
}

.A-profile-align {
  width: 90%;
}

.profile-head-elements {
  background-color: #b080f2;
  color: white;
  font-family: Ibarra Real Nova;
  font-size: 2rem;
  font-weight: 200;
}

.profile-head-elements h2 {
  padding-left: 30px;
}

.A-profile-card {
  display: flex;
  flex-direction: column;
  background-color: #b080f2;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: solid black 1px;
}

.A-inner-profile-card {
  width: 90%;
}

.profilepic-and-names {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Aprofilepic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Aprofilepic {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Ibarra Real Nova;
  font-size: 0.2rem;
}

.Aprofilepic img {
  width: 151px;
  height: 145px;
}

.A-names {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.A-names-seperates {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profile-names {
  background-color: #7c55b2;
  margin: 10px;
  width: 100%;
  color: white;
  font-size: 2rem;
  border: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.A-aboutme {
  width: 100%;
  background-color: #7c55b2;
  min-height: 143px;
  color: white;
  font-size: 1.5rem;
  border: black 1px solid;
}

.A-aboutme p {
  padding: 5%;
}

.aduilt-pro-bottom-cont {
  display: flex;
  flex-direction: row;
}

.aduilt-edit-btn-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.A-passed-course {
  width: 50%;
}

.A-passed-course ul {
  list-style-type: none;
  color: white;
  font-family: Josefin Sans;
  font-size: 1.5rem;
}

.A-passed-course li {
  text-decoration: underline;
}

#no-underline {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
  .profilepic-and-names {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .A-names {
    width: 100%;
  }
  .aduilt-pro-bottom-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.aduilt-avail h2 {
  color: white;
  font-family: Josefin Sans;
  text-align: center;
}

.day-time-seperator {
  padding: 10px;
}

.aduilt-avail label {
  color: white;
  font-family: Josefin Sans;
  padding-right: 10px;
}

.aduilt-avail input {
  background-color: #7c55b2;
  color: white;
}

.aduilt-avail input:hover {
  border: orangered solid 2px;
  color: orangered;
}

.aduilt-avail button {
  background-color: #7c55b2;
  width: 50%;
  margin: 30px;
  border-radius: 12px;
  height: 40px;
  border: black solid 2px;
  font-family: Josefin Sans;
  font-size: 1rem;
}

.aduilt-avail button:hover {
  border: orangered solid 2px;
  color: orangered;
}

@media screen and (max-width: 650px) {
  .Aduilt-nav-main {
    flex-direction: column;
  }
}
.aduilts-childp-nav {
  display: flex;
  flex-direction: row;
}

.aduilt-childrens-profile {
  background-color: #7c55b2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Aduilt-child-merits {
  width: 100%;
  background-color: #7c55b2;
}

.aduilts-child-p-heading {
  color: white;
  font-family: Ibarra Real Nova;
  width: 100%;
  margin-bottom: -8%;
}

.aduilts-child-p-heading h1 {
  padding-left: 15%;
  font-weight: 100;
}

.aduilt-button-placement {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 540px) {
  .cprofile-first-line {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .aduilts-childp-nav {
    display: flex;
    flex-direction: column;
  }
}
.aduilt-events-nav {
  display: flex;
  flex-direction: row;
}

.aduilt-profile-events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aduilt-events div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  position: relative;
}

.aduilt-events img {
  width: 250px;
  height: 250px;
  position: absolute;
}

.aduilt-events p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(233, 233, 233, 0.795);
  -webkit-text-stroke: 1px black; /* width and color */
  color: grey;
  width: 175px;
  height: 175px;
}

@media screen and (max-width: 349px) {
  .aduilt-events img {
    width: 150px;
    height: 150px;
    position: absolute;
  }
  .aduilt-events p {
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 650px) {
  .aduilt-events-nav {
    display: flex;
    flex-direction: column;
  }
}
.aduilt-reg-help-nav {
  display: flex;
  flex-direction: row;
}

.reg-helper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Josefin Sans;
}

.reg-helper p {
  padding: 10px;
}

.aduilt-reg-bottom-half {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Josefin Sans;
  justify-content: center;
  align-items: center;
}

.aduilt-reg-bottom-half button {
  background-color: #7c55b2;
  width: 50%;
  margin: 30px;
  border-radius: 12px;
  height: 40px;
  border: black solid 2px;
  font-family: Josefin Sans;
  font-size: 1rem;
}

.aduilt-reg-bottom-half button:hover {
  border: orangered solid 2px;
  color: orangered;
}

@media screen and (max-width: 650px) {
  .aduilt-reg-help-nav {
    display: flex;
    flex-direction: column;
  }
}
.reg-disc-text {
  color: white;
  padding: 10px;
  font-family: Josefin Sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-diclosure--link-btn button {
  background-color: #7c55b2;
  width: 100%;
  margin: 30px;
  border-radius: 12px;
  height: 40px;
  border: black solid 2px;
  font-family: Josefin Sans;
  font-size: 1rem;
}

.reg-diclosure--link-btn button:hover {
  border: orangered solid 2px;
  color: orangered;
}

.Aduiltdiscmain {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 650px) {
  .Aduiltdiscmain {
    display: flex;
    flex-direction: column;
  }
}
.aduilt-reg-training-nav {
  display: flex;
  flex-direction: row;
}

.A-profile-card-training {
  display: flex;
  flex-direction: column;
  background-color: #b080f2;
  width: 100%;
  margin-bottom: 50px;
  border: solid black 1px;
}

.aduilt-training-page-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aduilt-training-left-arrow {
  padding-left: 10px;
}

.date-training {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

#tdate {
  border: solid black 1px;
  margin-right: 10px;
  padding: 2px;
  color: black;
  background-color: white;
}

.training-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.training-date {
  width: 10%;
  padding-left: 5%;
  color: white;
}

.training-description {
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.training-img {
  width: 40%;
}

.training-alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.training-border {
  border: solid black 1px;
  width: 80%;
  padding-bottom: 1px;
  background-color: black;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .training-event {
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .training-event {
    align-items: start;
  }
}
@media screen and (max-width: 650px) {
  .aduilt-reg-training-nav {
    display: flex;
    flex-direction: column;
  }
}
.Aprofilepic button {
  background-color: #b080f2;
  border: none;
}

.profile-names-admin {
  background-color: #7c55b2;
  margin: 10px;
  width: 100%;
  color: white;
  font-size: 2rem;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-names-admin input {
  margin-bottom: 5px;
  width: 80%;
}

.Aprofilepic-container-admin {
  width: 185px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  border: #7c55b2 solid 3px;
}

.Aprofilepic-container-admin img {
  width: 100%;
  height: 100%;
}

.A-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Admin-disclosure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #7c55b2;
  min-height: 143px;
  border: black 1px solid;
}

.Admin-disclosure input {
  width: 80%;
}

.A-aboutme input {
  width: 90%;
}

.admin-pro-bottom-cont {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aduilt-avail-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid black 2px;
  width: 80%;
  margin-left: 5%;
  background-color: #7c55b2;
}

.aduilt-avail-admin h2 {
  color: white;
  font-family: Josefin Sans;
  text-align: center;
}

.aduilt-avail-admin button {
  background-color: #B080F2;
  width: 50%;
  margin: 30px;
  border-radius: 12px;
  height: 40px;
  border: black solid 2px;
  font-family: Josefin Sans;
  font-size: 1rem;
}

.aduilt-avail-admin button:hover {
  border: orangered solid 2px;
  color: orangered;
}

@media screen and (max-width: 450px) {
  .admin-pro-bottom-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=app.css.map */