.Header {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header-1st-line {
  display: flex;
  border: 1px solid #000000;
  width: 100%;
  height: 25%;
}

.logo {
  border-right: 1px solid #000000;
  width: 25%;
  height: 100%;
  display: flex;
}

.logo-img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/fleur-logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logo-img-container {
  height: 2rem;
  width: 45%;
}

.logo-text {
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  width: 60%;
}

.links {
  width: 50%;
  border-right: 1px solid #000000;
}

.links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  line-height: 100%;
}

.links ul li {
  padding-left: 2rem;
}

.login {
  text-align: left;
  padding-top: 1%;
  padding-left: 1%;
}

.header-2nd-line {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/headerpic.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-head {
  background-color: #CFB6F2;
  padding-top: 1rem;
  text-align: center;
}

.first-container {
  height: 25rem;
}

.image-container-1 {
  width: 80%;
  height: 80%;
  margin-left: 8rem;
  transform: translateY(20%);
  background-image: url(../images/homepage/home1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.container-1-text {
  position: absolute;
  top: -10%;
  left: -15%;
  width: 40%;
  border: 3px solid #73AD21;
  z-index: 1;
  background: rgba(171, 224, 245, 0.548);
  border-radius: 5%;
  box-shadow: 2.5px 5px rgba(3, 3, 3, 0.2196078431);
  text-align: center;
  border: 1px solid #4D0BAA;
}

.second-container {
  height: 25rem;
}

.image-container-2 {
  width: 80%;
  height: 80%;
  margin-left: 2rem;
  margin-top: 2rem;
  transform: translateY(5%);
  background-image: url(../images/homepage/home2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.container-2-text {
  position: absolute;
  top: 70%;
  left: 75%;
  width: 40%;
  border: 3px solid #73AD21;
  z-index: 1;
  background: rgba(171, 224, 245, 0.548);
  border-radius: 5%;
  box-shadow: 2.5px 5px rgba(3, 3, 3, 0.2196078431);
  text-align: center;
  border: 1px solid #4D0BAA;
}

.Footer {
  background: #B080F2;
}

.footer-logo {
  padding-top: 2rem;
  height: 2rem;
  width: 2rem;
  margin: auto;
}

.footer-img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/fleur-logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-events-control {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  height: 2rem;
}

.arrow-container-1 {
  height: 2rem;
  width: 2rem;
}

.arrow-container-1-image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/homeevents/arrow1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.arrow-container-2 {
  height: 2rem;
  width: 2rem;
}

.arrow-container-2-image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/homeevents/arrow2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.date {
  height: 80%;
  line-height: 10%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.date2 {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}

.Homeevents-main-content {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  height: 10rem;
  padding-bottom: 2rem;
}

.event-date {
  width: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.event-details {
  width: 55%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.event-img-container {
  width: 35%;
}

.event-img {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event\ 1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.events-border-line {
  border: 2px solid black;
  width: 90%;
  margin-top: 2rem;
  margin-left: 5%;
}

.event-img2 {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.event-img3 {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.event-img4 {
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../images/homeevents/event4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}/*# sourceMappingURL=app.css.map */